<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twofasapp.browserextension">

    <application>
        <activity
            android:name=".ui.request.BrowserExtensionRequestActivity"
            android:label="Authorization Request" />

        <activity
            android:name=".ui.request.BrowserExtensionRequestApproveActivity"
            android:label="Approve Authorization Request" />

        <receiver
            android:name=".notification.BrowserExtensionRequestReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="BrowserExtensionRequest" />
            </intent-filter>
        </receiver>
    </application>
</manifest>