<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twofasapp.externalimport">

    <application>

        <activity
            android:name=".ui.ExternalImportActivity"
            android:label="External Import" />

    </application>
</manifest>